.env
.direnv/

# Generated types
cat-launcher/src/generated-types/*

cat-launcher/target/*

# Rust Analyzer files
target/rust-analyzer/flycheck0/stderr
target/rust-analyzer/flycheck0/stdout
target/rust-analyzer/**

# Coverage artifacts
lcov.info
coverage-html

# Test assets
cat-launcher/src-tauri/src/infra/testing/data/assets/
cat-launcher/src-tauri/src/infra/testing/data/metadata/
